In [1]:
import pandas as pd
import numpy as np

# Load the dataset
data = pd.read_csv(r"C:\Users\sageo\OneDrive\Desktop\machine learning\retail_price.csv")

In [2]:
data.columns

Index(['product_id', 'product_category_name', 'month_year', 'qty',
       'total_price', 'freight_price', 'unit_price', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_score', 'customers', 'weekday', 'weekend', 'holiday', 'month',
       'year', 's', 'volume', 'comp_1', 'ps1', 'fp1', 'comp_2', 'ps2', 'fp2',
       'comp_3', 'ps3', 'fp3', 'lag_price'],
      dtype='object')

In [3]:
# Dropping the 'product_id' column with inplace=True to make the change directly in the data
data.drop(columns=['product_id','month_year'], inplace=True)

# Displaying the first few rows of the updated dataset to confirm the drop
data.head()

,product_category_name,qty,total_price,freight_price,unit_price,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_score,...,comp_1,ps1,fp1,comp_2,ps2,fp2,comp_3,ps3,fp3,lag_price
0,bed_bath_table,1,45.95,15.100000,45.95,39,161,2,350,4.0,...,89.9,3.9,15.011897,215.000000,4.4,8.760000,45.95,4.0,15.100000,45.90
1,bed_bath_table,3,137.85,12.933333,45.95,39,161,2,350,4.0,...,89.9,3.9,14.769216,209.000000,4.4,21.322000,45.95,4.0,12.933333,45.95
2,bed_bath_table,6,275.70,14.840000,45.95,39,161,2,350,4.0,...,89.9,3.9,13.993833,205.000000,4.4,22.195932,45.95,4.0,14.840000,45.95
3,bed_bath_table,4,183.80,14.287500,45.95,39,161,2,350,4.0,...,89.9,3.9,14.656757,199.509804,4.4,19.412885,45.95,4.0,14.287500,45.95
4,bed_bath_table,2,91.90,15.100000,45.95,39,161,2,350,4.0,...,89.9,3.9,18.776522,163.398710,4.4,24.324687,45.95,4.0,15.100000,45.95

In [4]:
from sklearn.preprocessing import LabelEncoder
# Initializing LabelEncoder for 'product_category_name'
label_encoder = LabelEncoder()

# Applying label encoding and adding the encoded version to the dataset
data['product_category_encoded'] = label_encoder.fit_transform(data['product_category_name'])

# Dropping the original 'product_category_name' column
data.drop(columns=['product_category_name'], inplace=True)

# Displaying the first few rows of the updated dataset to confirm changes
data.head()

,qty,total_price,freight_price,unit_price,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_score,customers,...,ps1,fp1,comp_2,ps2,fp2,comp_3,ps3,fp3,lag_price,product_category_encoded
0,1,45.95,15.100000,45.95,39,161,2,350,4.0,57,...,3.9,15.011897,215.000000,4.4,8.760000,45.95,4.0,15.100000,45.90,0
1,3,137.85,12.933333,45.95,39,161,2,350,4.0,61,...,3.9,14.769216,209.000000,4.4,21.322000,45.95,4.0,12.933333,45.95,0
2,6,275.70,14.840000,45.95,39,161,2,350,4.0,123,...,3.9,13.993833,205.000000,4.4,22.195932,45.95,4.0,14.840000,45.95,0
3,4,183.80,14.287500,45.95,39,161,2,350,4.0,90,...,3.9,14.656757,199.509804,4.4,19.412885,45.95,4.0,14.287500,45.95,0
4,2,91.90,15.100000,45.95,39,161,2,350,4.0,54,...,3.9,18.776522,163.398710,4.4,24.324687,45.95,4.0,15.100000,45.95,0

In [5]:
data['product_category_encoded'].value_counts()

5    160
6    130
8    103
1     69
0     61
3     57
4     48
7     26
2     22
Name: product_category_encoded, dtype: int64

In [6]:
from sklearn.preprocessing import StandardScaler


# Standardizing the numeric features in the updated dataset
numeric_features = data.select_dtypes(include=['float64', 'int64']).columns

# Initializing the StandardScaler
scaler = StandardScaler()

# Applying the scaler to the numeric features
data[numeric_features] = scaler.fit_transform(data[numeric_features])

# Displaying the first few rows of the standardized dataset
data.head()

,qty,total_price,freight_price,unit_price,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_score,customers,...,ps1,fp1,comp_2,ps2,fp2,comp_3,ps3,fp3,lag_price,product_category_encoded
0,-0.874518,-0.810399,-0.554107,-0.795344,-1.032577,-0.926196,0.004169,-0.658784,-0.368786,-0.387490,...,-2.134452,-0.381476,2.468819,1.335416,-1.536064,-0.801347,-0.008884,-0.518163,-0.799552,0
1,-0.744917,-0.756304,-0.769174,-0.795344,-1.032577,-0.926196,0.004169,-0.658784,-0.368786,-0.322984,...,-2.134452,-0.407294,2.347471,1.335416,0.420810,-0.801347,-0.008884,-0.910025,-0.798902,0
2,-0.550516,-0.675162,-0.579915,-0.795344,-1.032577,-0.926196,0.004169,-0.658784,-0.368786,0.676861,...,-2.134452,-0.489785,2.266573,1.335416,0.556949,-0.801347,-0.008884,-0.565186,-0.798902,0
3,-0.680117,-0.729257,-0.634757,-0.795344,-1.032577,-0.926196,0.004169,-0.658784,-0.368786,0.144685,...,-2.134452,-0.419259,2.155536,1.335416,0.123413,-0.801347,-0.008884,-0.665111,-0.798902,0
4,-0.809718,-0.783352,-0.554107,-0.795344,-1.032577,-0.926196,0.004169,-0.658784,-0.368786,-0.435869,...,-2.134452,0.019034,1.425202,1.335416,0.888560,-0.801347,-0.008884,-0.518163,-0.798902,0

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
# Dropping non-numeric columns to avoid errors in model fitting
X = data.drop(columns=['unit_price'])  # Exclude target and identifier columns
y = data['unit_price']

# Re-splitting the dataset after adjustments
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initializing and training the RandomForestRegressor model
rf_model = RandomForestRegressor(random_state=42)
rf_model.fit(X_train, y_train)

# Making predictions on both training and testing sets
y_train_pred = rf_model.predict(X_train)
y_test_pred = rf_model.predict(X_test)

# Calculating RMSE and R2 for both training and testing sets
train_rmse = np.sqrt(mean_squared_error(y_train, y_train_pred))
test_rmse = np.sqrt(mean_squared_error(y_test, y_test_pred))
train_r2 = r2_score(y_train, y_train_pred)
test_r2 = r2_score(y_test, y_test_pred)

# Calculating feature importance
feature_importances = pd.Series(rf_model.feature_importances_, index=X.columns).sort_values(ascending=False)

# Displaying results
train_rmse, test_rmse, train_r2, test_r2, feature_importances.head(10)

(0.03963835452347893,
 0.08803927341174199,
 0.9984504597381486,
 0.9916852810292116,
 lag_price           0.986660
 comp_1              0.002651
 comp_3              0.001502
 comp_2              0.001392
 product_weight_g    0.000725
 volume              0.000702
 product_score       0.000654
 customers           0.000578
 s                   0.000551
 qty                 0.000481
 dtype: float64)